.movie{
    // height: 100px;
    // width: 100%;
}

.titleMovie{
    height: 400px;
    background-size:100%;
    margin-bottom: 10px;
    background-image: url('http://culchethmediaguides.weebly.com/uploads/1/2/4/2/12423193/background.png');
}

.movieHeader{
    color: white;
    margin: 5px;
    padding: 50px;
}

.moviecontainer{
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 2px;
    // height: 230px;
    padding: 1px;
}
.scroll-container{
    overflow-x: auto;
}

.scroll-container .inline-column{
    display: inline-block;
    float: none;
}